=begin
#opencode

#opencode api

The version of the OpenAPI document: 0.0.3

Generated by: https://openapi-generator.tech
Generator version: 7.19.0

=end

require 'cgi'

module OpencodeClient
  class SessionApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get session children
    # Retrieve all child sessions that were forked from the specified parent session.
    # @param session_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :directory
    # @return [Array<Session>]
    def session_children(session_id, opts = {})
      data, _status_code, _headers = session_children_with_http_info(session_id, opts)
      data
    end

    # Get session children
    # Retrieve all child sessions that were forked from the specified parent session.
    # @param session_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :directory
    # @return [Array<(Array<Session>, Integer, Hash)>] Array<Session> data, response status code and response headers
    def session_children_with_http_info(session_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SessionApi.session_children ...'
      end
      # verify the required parameter 'session_id' is set
      if @api_client.config.client_side_validation && session_id.nil?
        fail ArgumentError, "Missing the required parameter 'session_id' when calling SessionApi.session_children"
      end
      pattern = Regexp.new(/^ses.*/)
      if @api_client.config.client_side_validation && session_id !~ pattern
        fail ArgumentError, "invalid value for 'session_id' when calling SessionApi.session_children, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/session/{sessionID}/children'.sub('{' + 'sessionID' + '}', CGI.escape(session_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'directory'] = opts[:'directory'] if !opts[:'directory'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<Session>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SessionApi.session_children",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SessionApi#session_children\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get session
    # Retrieve detailed information about a specific OpenCode session.
    # @param session_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :directory
    # @return [Session]
    def session_get(session_id, opts = {})
      data, _status_code, _headers = session_get_with_http_info(session_id, opts)
      data
    end

    # Get session
    # Retrieve detailed information about a specific OpenCode session.
    # @param session_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :directory
    # @return [Array<(Session, Integer, Hash)>] Session data, response status code and response headers
    def session_get_with_http_info(session_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SessionApi.session_get ...'
      end
      # verify the required parameter 'session_id' is set
      if @api_client.config.client_side_validation && session_id.nil?
        fail ArgumentError, "Missing the required parameter 'session_id' when calling SessionApi.session_get"
      end
      pattern = Regexp.new(/^ses.*/)
      if @api_client.config.client_side_validation && session_id !~ pattern
        fail ArgumentError, "invalid value for 'session_id' when calling SessionApi.session_get, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/session/{sessionID}'.sub('{' + 'sessionID' + '}', CGI.escape(session_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'directory'] = opts[:'directory'] if !opts[:'directory'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Session'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SessionApi.session_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SessionApi#session_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
